In [2]:
import requests
from io import StringIO
import pandas as pd

In [3]:
url = 'https://www.w3schools.com/python/pandas/data.csv.txt'
#headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url)

# Manually convert to dataframe
records = []
for row in req.text.split('\n'):
    records.append(row.split(','))

 # mking 1st row as header row
 # & removing 1st column of nos & last record
df = pd.DataFrame(records[1:-1],columns=records[0])
df

    Duration Pulse Maxpulse Calories
0         60   110      130    409.1
1         60   117      145    479.0
2         60   103      135    340.0
3         45   109      175    282.4
4         45   117      148    406.0
..       ...   ...      ...      ...
164       60   105      140    290.8
165       60   110      145    300.0
166       60   115      145    310.2
167       75   120      150    320.4
168       75   125      150    330.4

[169 rows x 4 columns]

In [5]:
# Convert to dataframe using io - StringIO
data = StringIO(req.text)

df = pd.read_csv(data)
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [25]:
url = 'https://raw.githubusercontent.com/jivaniyash/ML_Projects/master/placement-project-logistic-regression-main/placement.csv'
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
response = requests.get(url, headers=headers)
response.text

',cgpa,iq,placement\n0,6.8,123.0,1\n1,5.9,106.0,0\n2,5.3,121.0,0\n3,7.4,132.0,1\n4,5.8,142.0,0\n5,7.1,48.0,1\n6,5.7,143.0,0\n7,5.0,63.0,0\n8,6.1,156.0,0\n9,5.1,66.0,0\n10,6.0,45.0,1\n11,6.9,138.0,1\n12,5.4,139.0,0\n13,6.4,116.0,1\n14,6.1,103.0,0\n15,5.1,176.0,0\n16,5.2,224.0,0\n17,3.3,183.0,0\n18,4.0,100.0,0\n19,5.2,132.0,0\n20,6.6,120.0,1\n21,7.1,151.0,1\n22,4.9,120.0,0\n23,4.7,87.0,0\n24,4.7,121.0,0\n25,5.0,91.0,0\n26,7.0,199.0,1\n27,6.0,124.0,1\n28,5.2,90.0,0\n29,7.0,112.0,1\n30,7.6,128.0,1\n31,3.9,109.0,0\n32,7.0,139.0,1\n33,6.0,149.0,0\n34,4.8,163.0,0\n35,6.8,90.0,1\n36,5.7,140.0,0\n37,8.1,149.0,1\n38,6.5,160.0,1\n39,4.6,146.0,0\n40,4.9,134.0,0\n41,5.4,114.0,0\n42,7.6,89.0,1\n43,6.8,141.0,1\n44,7.5,61.0,1\n45,6.0,66.0,1\n46,5.3,114.0,0\n47,5.2,161.0,0\n48,6.6,138.0,1\n49,5.4,135.0,0\n50,3.5,233.0,0\n51,4.8,141.0,0\n52,7.0,175.0,1\n53,8.3,168.0,1\n54,6.4,141.0,1\n55,7.8,114.0,1\n56,6.1,65.0,0\n57,6.5,130.0,1\n58,8.0,79.0,1\n59,4.8,112.0,0\n60,6.9,139.0,1\n61,7.3,137.0,1\n62,6.0,102.0,0\n63,6.3,128.0,1\n64,7.0,64.0,1\n65,8.1,166.0,1\n66,6.9,96.0,1\n67,5.0,118.0,0\n68,4.0,75.0,0\n69,8.5,120.0,1\n70,6.3,127.0,1\n71,6.1,132.0,1\n72,7.3,116.0,1\n73,4.9,61.0,0\n74,6.7,154.0,1\n75,4.8,169.0,0\n76,4.9,155.0,0\n77,7.3,50.0,1\n78,6.1,81.0,0\n79,6.5,90.0,1\n80,4.9,196.0,0\n81,5.4,107.0,0\n82,6.5,37.0,1\n83,7.5,130.0,1\n84,5.7,169.0,0\n85,5.8,166.0,1\n86,5.1,128.0,0\n87,5.7,132.0,1\n88,4.4,149.0,0\n89,4.9,151.0,0\n90,7.3,86.0,1\n91,7.5,158.0,1\n92,5.2,110.0,0\n93,6.8,112.0,1\n94,4.7,52.0,0\n95,4.3,200.0,0\n96,4.4,42.0,0\n97,6.7,182.0,1\n98,6.3,103.0,1\n99,6.2,113.0,1\n'

In [26]:
record = []
for row in response.text.split('\n'):
    record.append(row.split(','))
record

 # mking 1st row as header row
 # & removing 1st column of nos & last record
df = pd.DataFrame(record[1:-1],columns=record[0])

df

       cgpa     iq placement
0    0  6.8  123.0         1
1    1  5.9  106.0         0
2    2  5.3  121.0         0
3    3  7.4  132.0         1
4    4  5.8  142.0         0
..  ..  ...    ...       ...
95  95  4.3  200.0         0
96  96  4.4   42.0         0
97  97  6.7  182.0         1
98  98  6.3  103.0         1
99  99  6.2  113.0         1

[100 rows x 4 columns]